<!-- ==========Banner-Section========== -->
<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="/user_assets/images/banner/banner02.jpg"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title bold">get <span class="color-theme">movie</span> tickets</h1>
            <p>Buy movie tickets in advance, find movie times watch trailers, read movie reviews and much more</p>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========Ticket-Search========== -->
<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="/user_assets/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">welcome to MovieBuff </h6>
                        <h3 class="title">what are you looking for</h3>
                    </div>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <div class="ticket-search-form">
                        <div class="form-group large">
                            <input value="{{ search_movie }}" type="text" class="search_movie_inpt" placeholder="Search for Movies">
                            <button type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                </div>
                <div class="tab-item">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Ticket-Search========== -->

<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-3">
                <div class="widget-1 widget-check">
                    <div class="widget-header">
                        <h5 class="m-title">Filter By</h5> <a href="#0" class="clear-check filter_clear_check">Clear All</a>
                    </div>
                    <div class="widget-1-body">
                        <h6 class="subtitle">Language</h6>
                        <div class="check-area">
                            {{#each languages }}
                            <div class="form-group">
                                <input autocomplete="off" value="{{ this }}" type="checkbox" name="lang"
                                    id="lang{{ @index }}" class="language_chng" ><label for="lang{{ @index }}">{{ this }}</label>
                            </div>
                            {{/each }}
                        </div>
                    </div>
                </div>
                <div class="widget-1 widget-check">
                    <div class="widget-1-body">
                        <h6 class="subtitle">genre</h6>
                        <div class="check-area">

                            {{#each genres }}
                            <div class="form-group">
                                <input autocomplete="off" value="{{ this.name }}" type="checkbox" name="genre"
                                    id="genre{{ @index }}" class="genre_chng"><label for="genre{{@index}}">{{ this.name }}</label>
                            </div>
                            {{/each }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <div class="filter-area">
                        <div class="filter-main">
                            <ul class="grid-button tab-menu">
                                <li class="active">
                                    <i class="fas fa-th"></i>
                                </li>
                                <li>
                                    <i class="fas fa-bars"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-area">
                        <div class="tab-item active">
                            <div class="row mb-10 justify-content-center movie_filter_grid">

                                {{#each movies }}
                                <div class="col-sm-6 col-lg-4">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a
                                                href="/movie_info/{{ this.movieDetails._id }}/{{ this.movieDetails.api_movie_id }}">
                                                {{#if posterFinalFile }}
                                                <img class="img-poster" src="{{ posterFinalFile }}" alt="Movie">
                                                {{else }}
                                                <img class="img-poster"
                                                    src="https://image.tmdb.org/t/p/w500{{ this.movieDetails.poster_path }}"
                                                    alt="Movie">
                                                {{/if }}
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a
                                                    href="/movie_info/{{ this.movieDetails._id }}/{{ this.movieDetails.api_movie_id }}">
                                                    {{ this.movieDetails.original_title }}
                                                </a>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user_assets/images/movie/tomato.png" alt="movie">
                                                    </div>
                                                    <span class="content">{{ this.movieDetails.vote_average }}</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user_assets/images/movie/cake.png" alt="movie">
                                                    </div>
                                                    <span class="content">{{ this.movieDetails.runtime }} minutes</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {{/each }}


                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="movie-area mb-10 movie_filter_list">

                                {{#each movies }}
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">


                                        {{#if posterFinalFile }}

                                        <a href="/movie_info/{{ this.movieDetails._id }}/{{ this.movieDetails.api_movie_id }}"
                                            class="w-100 bg_img h-100" data-background="{{ posterFinalFile }}">

                                            {{else }}

                                        <a href="/movie_info/{{ this.movieDetails._id }}/{{ this.movieDetails.api_movie_id }}"
                                            class="w-100 bg_img h-100"
                                            data-background="https://image.tmdb.org/t/p/w500{{ this.movieDetails.poster_path }}">

                                            {{/if }}

                                            {{#if posterFinalFile }}
                                            <img class="d-sm-none" src="{{ posterFinalFile }}" alt="Movie">
                                            {{else }}
                                            <img class="d-sm-none"
                                                src="https://image.tmdb.org/t/p/w500{{ this.movieDetails.poster_path }}"
                                                alt="Movie">
                                            {{/if }}

                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="/movie_info/{{ this.movieDetails._id }}/{{ this.movieDetails.api_movie_id }}">
                                                {{ this.movieDetails.original_title }}</a>
                                        </h5>
                                        <p class="duration">{{ this.movieDetails.tagline }}</p>
                                        <div class="movie-tags">
                                            {{#ifCond this.movieDetails.api_movie_id '==' '0' }}
                                                {{#each this.movieDetails.genres }}
                                                <a href="#0">{{ this }}</a>
                                                {{/each }}
                                            {{/ifCond }}

                                            {{#ifCond this.movieDetails.api_movie_id '!=' '0' }}
                                                {{#each this.movieDetails.genres }}
                                                <a href="#0">{{ this.name }}</a>
                                                {{/each }}
                                            {{/ifCond }}
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span> <a href="#0"> {{#splitDate
                                                this.movieDetails.release_date }} {{/splitDate }}</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/user_assets/images/movie/tomato.png" alt="movie">
                                                </div>
                                                <span class="content">{{ this.movieDetails.vote_average }} / 10</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/user_assets/images/movie/cake.png" alt="movie">
                                                </div>
                                                <span class="content">{{ this.movieDetails.runtime }} minutes</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item mr-auto">
                                                    <span>Language : {{ this.movieDetails.original_language }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>