
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Reviews</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item active">Reviews</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            {{#if errorMsg }}
                            <div class="card card-danger">
                                <div class="card-header">
                                    <h3 class="card-title">Error</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {{ errorMsg }}
                                </div>
                            </div>
                            {{/if }}

                            {{#if successMsg }}
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Success</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {{ successMsg }}
                                </div>
                            </div>
                            {{/if }}

                            <div class="card">
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>User</th>
                                                <th>Movie</th>
                                                <th>Date</th>
                                                <th>Rating</th>
                                                <th>Title</th>
                                                <th>Cntent</th>
                                                <th>Active</th>
                                                <th>Verification Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each reviews }}
                                            <tr>
                                                <td>{{inc @index}}</td>
                                                <td>{{ this.userDetails.name }}</td>
                                                <td>{{this.movieDetails.original_title}}</td>
                                                <td>{{#splitDate this.date }}{{/splitDate }}</td>
                                                <td>{{ this.rating }}</td>
                                                <td>{{ this.title }}</td>
                                                <td>{{ this.text }}</td>
                                                <td>
                                                    {{#if this.isActive }}
                                                    <span class="text-uppercase badge badge-success">Active</span>
                                                    {{else }}
                                                    <span class="text-uppercase badge badge-danger">Not Active</span>
                                                    {{/if }}
                                                </td>
                                                <td>
                                                    {{#if this.isVerified }}
                                                    <span class="text-uppercase badge badge-success">Verified</span>
                                                    {{else }}
                                                    <span class="text-uppercase badge badge-danger">Not Verified</span>
                                                    {{/if }}
                                                </td>
                                                <td>
                                                    {{#if this.isVerified }}
                                                        <button class="btn btn-danger swal-confirm" data-actionpath="/admin/review/disverify/{{ this._id }}" >Remove Verification</button>
                                                    {{else }}
                                                        <button class="btn btn-success swal-confirm" data-actionpath="/admin/review/verify/{{ this._id }}" >Mark Verified</button>
                                                    {{/if }}

                                                    {{#if this.isActive }}
                                                        <button class="btn btn-danger swal-confirm" data-actionpath="/admin/review/deactive/{{ this._id }}" >Deactivate</button>
                                                    {{else }}
                                                        <button class="btn btn-success swal-confirm" data-actionpath="/admin/review/active/{{ this._id }}" >Activate</button>
                                                    {{/if }}

                                                </td>
                                            </tr>
                                            {{/each }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>